:root {
  --grid-cols: 1;
  --grid-rows: 1;

}

body {
  background-color: purple;
}
.btn-container {
  margin: 70px;
  display: flex;
  justify-content: center;
}
#reset-btn {
  
  font-size: 3rem;
  padding: 1rem 2rem;
  background-color: purple;
  color: yellow;
  border-radius: 3rem;
  border: 2px solid yellow;
  position: relative;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;

}

#reset-btn::after {
  background-color: yellow;
  border-radius: 3rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0)
  rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;

}

#reset-btn:hover::after {
  transform: translate(0, 0);
}

#reset-btn:hover {
  border: 2px solid transparent;
  color: purple;
  transform: scale(1.05);
  will-change: transform;
}

/* #reset-btn:hover {
  background-color: rgb(41, 41, 131);
  border: black solid 3px;
} */

#container {
  display: grid;
  grid-gap: 0.1em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  
}

.grid-item {
  padding: 1em;
  border: 1px solid black;
  text-align: center;
  background-color: white;

}

.hovered {
  background-color: black;;
}